      <form action="/category" method="POST" id="categories" data-load="categoryLoad">
        <em>categories</em><br/>
        <% @categories.each do |category| %>
          <div class="category"><%= category.name %></div><br/>
        <% end %>
        <a href="#" id="addCategory">add a category...</a>
      </form>
