<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
  <title>flashcard app</title>
  <link rel="stylesheet" href="main.css"/>
  <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="flashcard.js"></script>
</head>

<body id="body">
  <%= yield %>
</body>
</html>
